<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="gecko.ui">

    <queries>
        <intent>
            <category android:name="android.intent.category.LAUNCHER" />
            <action android:name="android.intent.action.MAIN" />
        </intent>
    </queries>

    <application>

        <activity
            android:name="gecko.ui.GeckoActivity"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_gecko"
            android:label="Gecko!"
            android:taskAffinity="gecko.ui.${applicationId}"
            android:theme="@style/Theme.Gecko" />

        <activity-alias
            android:name="gecko.ui.GeckoLauncher"
            android:enabled="false"
            android:exported="true"
            android:targetActivity="gecko.ui.GeckoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <!-- This entry makes ExampleLoggerInitializer discoverable. -->
            <meta-data
                android:name="gecko.ui.startup.GeckoStartup"
                android:value="androidx.startup" />
        </provider>

    </application>

</manifest>